.board-game{
    display: grid;
    grid-template-columns: 130px 130px;
    grid-template-rows: 160px 160px 160px;
    align-content: center;
    column-gap: 20px;
    row-gap: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    perspective: 400px;
}